html {
    background-image: linear-gradient(#1d1e22, #393f4d);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.about {
    text-align: -webkit-center;
}

.outlined-basic {
    border-radius: 5px;
    background-color: #393f4d;
}